.header__logo {
    max-width: 142px;
    max-height: 33px;
    margin-bottom: 41px;
}

@media screen and (max-width: 768px) {
    .header__logo {
        margin: 0 0 0 27px;
    }
}

@media screen and (max-width: 544px) {
    .header__logo {
        max-width: 103px;
        max-height: 24px;
    }
}