.popup__close-button {
    width: 32px;
    height: 32px;
    background-image: url(../../../images/Close\ Icon.svg);
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: -32px;
    right: -32px;
    border: none;
}

.popup__close-button:hover {
    opacity: 0.6;
}

@media screen and (max-width: 544px) {
    .popup__close-button {
        width: 20px;
        height: 20px;
        top: -36px;
        right: 0;
    }
}