@import url(../vendor/normalize.css);
@import url(../vendor/fonts.css);
@import url(../blocks/body/body.css);
@import url(../blocks/page/page.css);
@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/profile/profile.css);
@import url(../blocks/profile/__user/profile__user.css);
@import url(../blocks/profile/__container/profile__container.css);
@import url(../blocks/profile/__name/profile__name.css);
@import url(../blocks/profile/__info/profile__info.css);
@import url(../blocks/profile/__edit-button/profile__edit-button.css);
@import url(../blocks/profile/__avatar/profile__avatar.css);
@import url(../blocks/profile/__add-button/profile__add-button.css);
@import url(../blocks/profile/__about/profile__about.css);
@import url(../blocks/cards/cards.css);
@import url(../blocks/card/card.css);
@import url(../blocks/card/__photo/card__photo.css);
@import url(../blocks/card/__container/card__container.css);
@import url(../blocks/card/__name/card__name.css);
@import url(../blocks/card/__like-button/card__like-button.css);
@import url(../blocks/card/__like-button/_active/card__like-button_active.css);
@import url(../blocks/card/__delete-button/card__delete-button.css);
@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__author/footer__author.css);
@import url(../blocks/popup/popup.css);
@import url(../blocks/popup/__container/popup__container.css);
@import url(../blocks/popup/_opened/popup_opened.css);
@import url(../blocks/popup/__title/popup__title.css);
@import url(../blocks/popup/__text/popup__text.css);
@import url(../blocks/popup/__text/_type/popup__text_type_about.css);
@import url(../blocks/popup/__text/_type/popup__text_type_name.css);
@import url(../blocks/popup/__submit-button/popup__submit-button.css);
@import url(../blocks/popup/__form/popup__form.css);
@import url(../blocks/popup/__close-button/popup__close-button.css);
@import url(../blocks/popup/_photo-zoom/popup_photo-zoom.css);
@import url(../blocks/popup/_container-photo-zoom/popup_container-photo-zoom.css);
@import url(../blocks/popup/__image/popup__image.css);
@import url(../blocks/popup/__photo-name/popup__photo-name.css);
@import url(../blocks/popup/__close-button/_photo-zoom/popup__close-button_photo-zoom.css);