.element__like-button {
    background-image: url(../../../images/like-button.svg);
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    width: 22px;
    height: 19px;
    margin-right: 20px;
    border: none;
}

.element__like-button:hover {
    opacity: 0.5;
}

.element__like-button:active {
    background-color: #000000;
}